.filter-container {
  display: flex;
  flex-direction: column;
  padding: 69px 27px 0 27px;
}

.filter-toggle-container {
  background: #fff;
  display: flex;
}

.filter-toggle-fixed {
  flex-direction: column;
  display: flex;
  width: 100%;
  color: #000000;
  height: fit-content;
}

.filter-toggle-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-title {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 15px;
}

.filter-clear {
  padding-bottom: 10px;
  cursor: pointer;
}

.filter-clear p {
  text-transform: uppercase;
  background: #bf2525;
  border-radius: 3px;
  padding: 2px 3px;
  font-size: 16px;
  color: #fff;
}

.filter-title-container {
  display: flex;
  justify-content: space-between;
}

.filter-dropdown-arrow {
  width: 21px;
  padding: 5px 0;
  cursor: pointer;
}

.filter-checkbox {
  padding: 5px 0;
} 

.filter-checkbox label {
  padding-left: 5px;
}

.filter-checkbox-child {
  padding: 5px 0;
}

.filter-checkbox-child label {
  padding-left: 5px;
  font-weight: 300;
}

.filter-toggle-dropdown-contents {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
  border-top: 1px solid #BDBDBD;
  padding-top: 5px;
}

input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + span {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 12px;
    height: 12px;
    margin: -1px 0px 0 0;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + span {
    background: #2ea948 -19px top no-repeat;
  }
  
  input[type="checkbox"] + span {
    margin-right: 4px;
  }

.filter-search-container {
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filter-search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));
  grid-gap: 15px;
  flex: 1 1;
  border-radius: 3px;
  padding: 10px 0 25px 0;
}

.filter-searchbar-container {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.filter-searchbar-title {
  font-weight: 900;
  color: #142261;
  margin: 0;
}

.filter-searchbar {
  max-height: 35px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 10px 0;
  padding-left: 11px;
  font-size: 18px;
  font-family: 'AirbnbBook';
}

.filter-searchbar:focus {
  outline: none;
}

.modal-container {
  height: 100%;
  /* width: 100vw; */
  width: 100%;
  position: fixed;
  background: #0000009c;
  z-index: 99999;
}

.modal {
  position: fixed;
  width: 430px;
  height: 433px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-modal {
  width: 10px;
  height: 10px;
  background: black;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .filter-container {
    padding: 150px 27px 0 27px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .filter-container {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
  }

  .filter-searchbar {
    font-size: 18px;
  }

  .filter-toggle-container {
    width: 235px;
    min-width: 235px;
    padding-right: 27px;
    padding-top: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .filter-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
