body {
  font-family: 'Droid Sans',Helvetica,Arial,Lucida,sans-serif;
  color: #4a4a4a;
}

p {
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Droid Sans',Helvetica,Arial,Lucida,sans-serif;
}


